<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
</head>
<body>
<h1>Form Register</h1>

<form>
    <label for="name">Name:</label><br>
    <input type="text" id="name"><br>

    <label for="email">Email:</label><br>
    <input type="text" id="email"><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password"><br><br>

    <button type="submit">Register</button>
    <a href="/login">Quay lại đăng nhập</a>
</form>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    document.querySelector('form').addEventListener('submit', async function (e) {
        e.preventDefault();
        const name = document.getElementById('name').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        try {
            const response = await axios.post('/api/auth/register', {name, email, password});
            alert("Đăng ký thành công. Kiểm tra email để kích hoạt tài khoản");
        } catch (error) {
            console.error(error);
            alert(error.response.data.message)
        }
    });
</script>
</body>
</html>